*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4f46e5,#06b6d4,#3b82f6);
    overflow:auto;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    max-width:420px;
    width:100%;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:20px;
    padding:40px;
    box-shadow:0 15px 35px rgba(0,0,0,.25);
    animation:fadeIn .7s ease;
}

.logo{
    width:80px;
    height:80px;
    margin:auto;
    border-radius:50%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}

.logo i{
    font-size:38px;
    color:#4f46e5;
}

.login-card h1{
    color:white;
    text-align:center;
    margin-bottom:8px;
}

.login-card p{
    color:white;
    text-align:center;
    margin-bottom:25px;
}

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#666;
}

.input-box input{
    width:100%;
    padding:14px 45px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:15px;
}

#togglePassword{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#666;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    margin-bottom:20px;
    font-size:14px;
}

.options a{
    color:white;
    text-decoration:none;
}

.options a:hover{
    text-decoration:underline;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:white;
    color:#4f46e5;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#4338ca;
    color:white;
    transform:translateY(-2px);
}

#message{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
}

.register{
    margin-top:20px;
    text-align:center;
    color:white;
}

.register a{
    color:#fff;
    font-weight:bold;
    text-decoration:none;
}

.register a:hover{
    text-decoration:underline;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:500px){

.login-card{
    width:90%;
    padding:30px;
}

}